
*IGNORE*

*ipynb_checkpoints*
*pycache*

*.csv
*.docx
*.gif
*.grib
*.jpg
*.json
*.nc
*.ods
*.pdf
*.png
*.rdata
*.Rdata
*.txt
*.xlsx
*.zip

*/sf_*

99_scratch/(
23-12_black-sea-floods/stations/*
10_misc/cordex_domains/
